<!DOCTYPE html>

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-10 text-center">
        <div id="main-info-txt">
            <h2>Генерується випадкове число від 1 до 100</h2>
            <h4> Ваше завдання його вгадати
                <a
                    href="https://uk.wikipedia.org/wiki/%D0%94%D0%B2%D1%96%D0%B9%D0%BA%D0%BE%D0%B2%D0%B8%D0%B9_%D0%BF%D0%BE%D1%88%D1%83%D0%BA">
                    <h6 class="text-muted">підказка</h6>
                </a>
            </h4>
        </div>
        <input name="number" id="you_num">
        <button id="input_num" class="btn-submit">OK</button>
        <div id="rez">
        </div>
    </div>
</div>
